spring:
  thymeleaf:
    cache: false
  security:
    oauth2:
      client:
        registration:
          github:
            client-id: dd58f83096cdc761e1d9
            client-secret: 095778fe44e632a595e12bc15a5c36f8d46dedd6

logging:
  level:
    root: INFO